html, body {
    margin: 0;
    padding: 0;
    color: white;
}
/*
.exfm-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999999999;
}
.exfm-bottom {
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
	background-color: rgba(0,0,0,.7);
	color: white;
	font-size: 24px;
}
.exfm-controls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    background-color: white;
}
.exfm-hidden {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
}
.exfm-iframe {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999999999;
    background-color: rgba(0,0,0,.9);
}
*/