html, body {
    margin: 0;
    padding: 0;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
}
@font-face {
    font-family: 'exfm-icons';
    src:url('../fonts/ex-icons.ttf') format('truetype');
}
@font-face {
    font-family:'services';
    src:url('../fonts/services.ttf') format('truetype');
}
.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    -webkit-transform-origin: top right;
    -webkit-transition: -webkit-transform .2s linear;
    -webkit-perspective: 1500px;
    visibility: hidden;
}
.container.minimized {
    -webkit-transform: scale(.2);
}

.captured-tab {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -webkit-transition:
        -webkit-transform 0.25s ease-in-out,
        opacity 0.25s linear;
    z-index: 100;
    -webkit-filter: blur(12px);
}

.show .container{
    background: #131820;
    visibility: visible;
}

.show .playlist {
    -webkit-transform: translate3d(0, 0, 0);
}



.show .captured-tab {
    opacity: 0.15;
    -webkit-transform: translate3d(0, 0, -100px);
    z-index: auto;
}

.minimize {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    line-height: 30px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}
.playlist {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.71, 1) 0.1s;
    -webkit-transform: translate3d(-100%, 0, 0);
    background: hsla(219, 24%, 15%, 0.75);
    -webkit-transform-origin: 0 50%;
    -webkit-transform-style: preserve-3d;
    white-space: nowrap;
}

.right {
    position: absolute;
    top: 0;
    left: 300px;
    right: 0;
    bottom: 0;
}

.playlist-item {
    line-height: 18px;
    padding: 12px 0;
    margin-left: 20px;
    border-bottom: 1px solid rgba(0,0,0, 0.4);
    cursor: pointer;
}
.playlist-item:hover {
    background: rgba(0, 0, 0, 0.25);
    margin-left: 5px;
    padding-left: 15px;
}
.playlist-item.selected {
    background: #29a5ff;
    margin-left: 5px;
    padding-left: 15px;
    border-bottom-color: transparent;
}
.playlist-item-song {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 22px;
    font-weight: bold;
    pointer-events: none;
}
.playlist-item-artist {
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 300px;
    color: rgba(255,255,255,0.6);
    line-height: 20px;
    pointer-events: none;
}
.current-song {
    position: absolute;
    top: 100px;
    /* left: 400px; */
    /* right: 100px; */
    height: 300px;
    width: 800px;
    left: 50%;
    margin-left: -400px;
    /* left: 330px; */
}
.artwork {
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: gray;
    float: left;
    margin-right: 30px;
    position: relative;
}
.artwork:before {
    /*width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    content: '';
    display: block;
    -webkit-filter: blur(4px);
    -webkit-transform-origin: 50% 50%;
    position: relative;*/
}
.show .artwork {

}
.show .artwork:before {

}
.current-song-info {
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgba(255,255,255, 0.75);
    font-size: 16px;
}
.now-playing {
    font-size: 11px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    line-height: 20px;
}
.song-title {
    font-size: 38px;
    color: white;
    line-height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: lighter;
    font-weight: 100;
}
.artist {

}
.album {
    font-style: italic;
}
.current-song-ui {
    position: absolute;
    left: 330px;
    right: 0;
    bottom: 0;
    height: 90px;
    /* background: rgba(19, 24, 32, 0.5); */
}

.controls {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -135px;
}
.control {
    width: 65px;
    line-height: 55px;
    text-align: center;
    cursor: pointer;
    font-size: 60px;
    float: left;
    margin: 0 5px;
    font-family: exfm-icons;
}
.control.prev:after { content: 'a'; }
.control.play-pause:after { content: 'c'; }
.control.play-pause.paused:after { content: 'b'; }
.control.next:after { content: 'd'; }



.progress-back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: rgba(255,255,255, 0.1);
    border-radius: 1px;
    overflow: hidden;
}
.progress {
    position: absolute;
    left: 0;
    top: 0;
    height: 2px;
    border-radius: 1px;
    width: 100%;
    background: #0DA6F2;
    -webkit-transform: translateX(-101%);
}
.current-time {
    position: absolute;
    top: 10;
    left: 10;
    color: #495774;
    font-size: 14px;
}
.time-count {
    color: #29A5FF;
}

.services {
    font-family: services;
    position: absolute;
    left: 330px;
    bottom: 110px;
}

.service-icon {
    float: left;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px inset;
    margin: 0 10px 0 0;
    text-align: center;
    line-height: 44px;
    font-size: 34px;
    cursor: pointer;
    opacity: 0.3;
    -webkit-transition: opacity 0.1s linear;
}
.service-icon:hover {
    opacity: 1;
}
.rdio {
    font-size: 26px;
}
.tumblr {
    font-size: 24px;
}